.contenedorPokemon{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "titulo"
    "texto"
    "imagen";
    place-items: center;

    div {
        margin-top: 55px;
        grid-area: titulo;
        text-align: center;

        /*agregamos sombra al titulo*/
        .white-with-black-shadow {
            text-shadow:
            1px 1px 2px black,
            0 0 1em rgb(0, 0, 0),
            0 0 0.2em rgb(0, 0, 0);
            color: white;
        }
    }
    

    /*agregamos sombra al texto*/
    .white-with-red-shadow {
        padding: 40px;
        text-shadow:
            1px 1px 2px black,
            0 0 1em rgb(239, 8, 8),
            0 0 0.2em rgb(239, 8, 8);
        color: white;
    }

    aside{
        grid-area: imagen;

        img{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    
}

@media (min-width: $minW) and (max-width: $maxW){
    .contenedorPokemon{
        grid-template-columns: 50% 25% 25%;
        grid-template-rows: auto auto ;
        grid-template-areas:
        "titulo titulo titulo" 
        "texto imagen imagen";

        .white-with-red-shadow{
            padding: 30px;
        }

        aside{
            img{
                width: 40%;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}

@media (min-width: 770px) and (max-width: 1024px){

   .contenedorPokemon{
    grid-area: imagen;

        .white-with-red-shadow{
            padding: 40px;
        }

        aside{
            display: flex;
            width: 700px;
            height: 430px;

            img{
                width: 0px;
                flex-grow: 1;
                object-fit: cover;
                opacity: .8;
                transition: .5s ease;
            }

            img:hover{
                cursor: crosshair;
                width: 300px;
                opacity: 1;
                filter: contrast(120%);
            }
        }
   }
}

@media (min-width: 1025px){

    .contenedorPokemon{
     grid-area: imagen;
 
         .white-with-red-shadow{
             padding: 40px;
         }
 
         aside{
             display: flex;
             width: 1000px;
             height: 430px;
 
             img{
                 width: 0px;
                 flex-grow: 1;
                 object-fit: cover;
                 opacity: .8;
                 transition: .5s ease;
             }
 
             img:hover{
                 cursor: crosshair;
                 width: 300px;
                 opacity: 1;
                 filter: contrast(120%);
             }
         }
    }
      
}


//se utilizo flex 
.contenedorPokemon1{

    div {
        text-align: center;

        h2{
            margin-top: 55px;
        }
    }

    /*agregamos sombra al titulo*/
    .white-with-black-shadow {
        text-shadow:
        1px 1px 2px black,
        0 0 1em rgb(0, 0, 0),
        0 0 0.2em rgb(0, 0, 0);
        color: white;
    }

    /*agregamos sombra al texto*/
    .white-with-red-shadow {
        padding: 40px;
        text-shadow:
            1px 1px 2px black,
            0 0 1em rgb(239, 8, 8),
            0 0 0.2em rgb(239, 8, 8);
        color: white;
    }

    .galeria1{
        display: flex;
        overflow-y: auto;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
        
        .card{
            margin-bottom: 20px;
            position: relative;
    
            .cuerpo-card{
                position: absolute;
                bottom: 0;
                padding: 10px;
                background-color: rgb(0, 0, 0, 0.4);
                color: #fff;
            }
    
            h5, p{
                margin: 0;
            }
    
            img{
                width: 300px;
                object-fit: cover;
                height: 450px;
                margin: 10px;
            }
        }
    }

}

